//Variables

$green: #4FDC70;
$coral: #EA5755;
$yellow: #DDD83D;
$blue: #50A9DD;
$purple: #994CF4;
$aqua: #48BCB0;
$white: #fbfbf9;
$lt-gray: #b2b2b2;
$med-gray: #4d4d4d;
$charcoal: #2B2B2B;

$background-color: $med-gray;
$body-font: "Quicksand", sans-serif;
$body-color: $lt-gray;
$heading-font: "Megalopolis", "Arial Black", "Arial Bold", Gadget, sans-serif;
$heading-color: $charcoal;
$link: $blue;
$hover: $aqua;
$active: $white;
$serif-font: "Acknowledgement", "Rockwell Extra Bold", "Rockwell Bold", serif;
$italic-font: "Calligraffitti", script;
$monospace-font: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$text-shadow: lighten($charcoal, 25%) 0px 1px 2px;

$margin: 1rem;
$pad: 20px;

/*****************
*
* Layout & Design
*
*****************/

.clearfix:before,
.clearfix:before {
	content: " ";
	display: table;
}
.clearfix:before {
	clear: both;
}
body {
	background: $background-color;
	font-family: $body-font;
	color: $body-color;
	font-size: 1.6rem;
}
#page-header,
.wrapper {
	width: 100%;
	padding: 0 $pad/5;
}
#page-header {
	background: $white;
	box-shadow: 1px 0px 3px $charcoal;
	position: relative;
}
#page-header h1 {
	background: url(favicon.ico) left 2px no-repeat;
	background-size: 48px;
	text-indent: 50px;
	line-height: 50px;
	margin: 0;
	color: $heading-color;
}
#page-header em {
	font-size: 0.8em;
	display: block;
}
#page-header a:active {
	color: $green;
}
#page-header:before {
	content: "";
	display: block;
	background: #4FDC70;
	background: -moz-linear-gradient(top,  #398f55 0%, #43d472 40%, #4fdc70 40%, #4fdc70 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#398f55), color-stop(40%,#43d472), color-stop(40%,#4fdc70), color-stop(100%,#4fdc70)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #398f55 0%,#43d472 40%,#4fdc70 40%,#4fdc70 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #398f55 0%,#43d472 40%,#4fdc70 40%,#4fdc70 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #398f55 0%,#43d472 40%,#4fdc70 40%,#4fdc70 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #398f55 0%,#43d472 40%,#4fdc70 40%,#4fdc70 100%); /* W3C */
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -6px;
    left: 0;
}
.wrapper {
	margin-top: 6px;
}
#top {
	margin: 1rem auto;
}
section.post-wrap {
	margin: 2rem 0;
	padding-top: 4.8rem;
	overflow: hidden;
	position: relative;
}
section.archive-header {
	padding-top: 1rem;
}
section figure {
	margin-bottom: 3rem;
}
article {
	border-top: 4px $green solid;
	padding: 0 10px;
	position: relative;
    overflow: visible !important;
}
article>header {
	margin: 1rem 0 1.8rem 14rem;
}
.loop article>header {
    margin: 5rem 0 1.8rem 0;
}
article footer {
    margin: 1rem 0;
}
.meta li {
	margin: 0.6rem 0;
}
.date-meta {
	list-style: none;
	background: $background-color;
	float: left;
	position: absolute;
	top: -30px;
	left: 0;
}
.date-meta li {
	display: inline-block;
	text-align: center;
	width: 40px;
	color: $white;
	padding: 0 2px;
}
ul.date-meta li:first-child {
	text-transform: uppercase;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   position: relative;
   top: -45px;
   left: 10px;
}
ul.date-meta li:nth-child(2),
ul.date-meta.post-icon li:only-child {
	width: 60px;
	height: 60px; 
	background: lighten($med-gray, 10%);
	margin: 8px;
	border: 4px $green solid;
	/* Rotate */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* Rotate Origin */
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
	position: relative;
	left: 10px;
}
ul.date-meta li:nth-child(2) div, 
ul.date-meta.post-icon li:only-child div {
   /* Rotate */
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
   line-height: 50px;
   font-size: 2em;
   text-align: center;
   width: 48px;
}
ul.date-meta:not(.post-icon) li:last-child {
   /* Rotate */
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
   position: absolute;
   top: -12px;
   left: 66px;
}
ul.date-meta.post-icon li:only-child {
	left: 30px;
	margin: 0 30px;
} 
ul.date-meta.post-icon li:last-child {
	top: 10px;
} 
ul.date-meta.post-icon li:only-child div {
	font-size: 2em;
	line-height: 48px;
	color: lighten($lt-gray, 25%);
}
ul.date-meta li a, ul.date-meta li a .icon {
	color: $white;
}
ul.date-meta li a:hover, ul.date-meta li a:hover .icon,
.sticky .date-meta.post-icon a:hover, .sticky .date-meta.post-icon a:hover .icon {
	color: $blue;
}
ul.date-meta li a:active, ul.date-meta li a:active .icon,
.sticky .date-meta.post-icon a:active, .sticky .date-meta.post-icon a:active .icon {
	color: $green;
}
#page-footer {
	width: 100%;
}
#footer-sidebar {
	padding: $pad $pad/5;
	background: darken($med-gray, 5%);
	border-top: 6px $green solid;
	box-shadow: 0 -1px 3px $charcoal;
	overflow: auto;
}
#footer-meta {
	padding: $pad/5;
	background: lighten($med-gray, 20%);
	overflow: auto;
	color: $heading-color;
}
#footer-meta div {
	margin: $margin 0;
}

/*****************
*
* Images
*
*****************/
img {
    width: initial;
    height: auto;
    max-width: 100%;
}
#custom-header {
	box-shadow: none;
}
figure:not(.gallery-item) {
	margin: 4rem auto 3rem;
	max-width: 100%;
}
figure:not(.gallery-item) img:not(#custom-header) {
    display: block;
	height: auto;
	box-shadow: 0 2px 4px $charcoal;
	margin: auto;
}
figcaption  {
	font-style: italic;
	text-align: center;
	font-size: 1.8rem;
	line-height: 1.4;
}
section>figure:not(.gallery-item)[class*='col-'] {
	margin: 0 auto 3em;
	width: inherit;
}