//Variables

$green: #4FDC70;
$coral: #EA5755;
$yellow: #DDD83D;
$blue: #50A9DD;
$purple: #994CF4;
$aqua: #48BCB0;
$white: #fbfbf9;
$lt-gray: #b2b2b2;
$med-gray: #4d4d4d;
$charcoal: #2B2B2B;

$background-color: $med-gray;
$body-font: "Quicksand", sans-serif;
$body-color: $lt-gray;
$heading-font: "Megalopolis", "Arial Black", "Arial Bold", Gadget, sans-serif;
$heading-color: $charcoal;
$link: $blue;
$hover: $aqua;
$active: $white;
$serif-font: "Acknowledgement", "Rockwell Extra Bold", "Rockwell Bold", serif;
$italic-font: "Calligraffitti", script;
$monospace-font: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$text-shadow: lighten($charcoal, 25%) 0px 1px 2px;

$margin: 1rem;
$pad: 20px;
/*****************
*
* Typography
*
*****************/
@font-face {
    font-family: 'Acknowledgement';
    src: url('fonts/acknowledgement-webfont.eot');
    src: url('fonts/acknowledgement-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/acknowledgement-webfont.woff') format('woff'),
         url('fonts/acknowledgement-webfont.ttf') format('truetype'),
         url('fonts/acknowledgement-webfont.svg#acknowledgementmedium') format('svg');
    font-weight: normal;
    font-style: normal;

    font-family: 'Megalopolis';
    src: url('fonts/megalopolisextra-webfont.eot');
    src: url('fonts/megalopolisextra-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/megalopolisextra-webfont.woff') format('woff'),
         url('fonts/megalopolisextra-webfont.ttf') format('truetype'),
         url('fonts/megalopolisextra-webfont.svg#megalopolis_extraregular') format('svg');
    font-weight: normal;
    font-style: normal;
	
	font-family: 'socialize';
	src:url('fonts/socialize.eot?-izptai');
	src:url('fonts/socialize.eot?#iefix-izptai') format('embedded-opentype'),
		url('fonts/socialize.woff?-izptai') format('woff'),
		url('fonts/socialize.ttf?-izptai') format('truetype'),
		url('fonts/socialize.svg?-izptai#socialize') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
  font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $heading-color;
  margin-bottom: 1rem; 
  text-shadow: $text-shadow;
}
article header h2 {
	text-shadow: none;
	word-wrap: break-word;
}
.serif {
  font-family: $serif-font;
  color: $heading-color;
  margin-bottom: 1rem;
}
em, blockquote, q {
	font-family: $italic-font;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 2.0rem; 
}
h6 {
  font-size: 1.8rem; 
}
p, span {
	line-height: 1.4;
	margin: 1rem 0; 
}
small {
	font-size: 1.2rem;
}
main ul, main ol {
	margin-left: 40px; 
}
.widget ul, .widget ol {
	margin-left: 20px;
	list-style: none;
}
.column > ul, .column > ol {
	margin-bottom: 10px;
}
main ul {
	list-style: disc;
}
main ul ul {
	list-style: circle;
}
main ul ul ul {
	list-style: square;
}
main ol {
  list-style: decimal;
}
main ol ol {
	list-style: lower-alpha;
}
main ol ol ol {
	list-style: lower-roman;
}
.meta {
	list-style: none;
	font-size: 1.2rem;
	margin-left: 0;
}
footer .meta li {
	display: inline-block;
	margin-right: 2px;
}
.robert {
	list-style: decimal-leading-zero;
} 
main ul li, main ol li {
  line-height: 1.2; 
}
dl {
  margin: 1rem 6rem; 
}
.widget dl {
	margin: 1rem 2rem;
}
dt {
  font-size: 2rem;
  font-weight: bold; 
}
dd {
	margin: 0.4rem 2rem;
}
dd a {
	color: $body-color;
}
dd a:hover {
	color: $white;
}
q {
	margin-left: 2rem;
}
blockquote {
	margin: 2rem 4rem;
}
blockquote:before {
	content: "\201C ";
	font-size: 8rem;
	font-family: $serif-font;
	color: $charcoal;
	float: left;
	line-height: 1rem;
	position: relative;
	top: 2rem; 
	text-shadow: $text-shadow;
}
blockquote:after {
	clear: both;
}
cite {
	font-family: $body-font;
	text-transform: uppercase;
	font-size: 1.2rem;
}
address {
	margin: 1rem 2rem;
}
abbr {
	font-variant: none;
	border-bottom: 1px dotted $body-color;
}
code, pre, kbd {
	font-family: $monospace-font;
	word-wrap: break-word;
}
pre {
	background: $white;
	border-left: 6px $yellow solid;
	width: 90%;
	margin: 1rem auto;
	padding: .4rem;
	color: $charcoal;
}
strong {
	font-weight: 700;
}
sub {
	font-size: 1.0rem;
	vertical-align: sub;
}
sup {
	font-size: 1.0rem;
	vertical-align: super;
}
mark {
	background-color: $yellow;
	padding: 0 2px;
}
var {
	font-style: italic;
}

/*************************
**************************
***  Forms
**************************
*************************/
form {
	max-width: 540px;
	width: 98%;
	margin: 3rem auto; 
	overflow: auto;
}
form ul, form ol {
	list-style: none;
}
fieldset {
	border: $lt-gray 2px solid;
	background: lighten($med-gray, 10%);
	border-radius: 15px;
	margin: 2rem;
	padding: 1rem;
}
.no-rgba form {
	background: url(images/form-bg-top.png) center top no-repeat;
	position: relative;
}
.no-rgba fieldset {
	background: url(images/form-bg.png) center bottom no-repeat;
	border-radius: 0;
	border: 0;
}
legend {
	margin-left: 1.2em;
	font-size: 1.6em;
	padding: 0 .3em; 
	background: rgba($charcoal, .80);
	border-radius: 8px;
}
.no-borderradius legend {
	background: none;
}
form ol {
	margin: 0 auto;
	max-width: 500px;
	width: 98%; 
}
form li {
	margin: .5em 0;
	font-size: 1.8rem; 
}
label {
	display: block; 
	line-height: 1.4;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="url"],
textarea {
	display: block;
	margin: 0 auto;
	padding: .2em .5em;
	max-width: 400px;
	width: 98%;
	line-height: 1.4;
	border-radius: 4px;
	border: 1px $lt-gray solid;
	font-size: 1.6rem; 
}
form[role="search"] label {
	float: left;
	width: 90%;
	max-width: 480px;
}
input[type="search"] {
	width: 75%;
}
form input[type="submit"] {
	background: lighten($blue, 10%);
	background: -moz-linear-gradient(top, hsla(203,68%,94%,1) 0%, hsla(203,68%,84%,1) 50%, hsla(202,68%,79%,1) 51%, hsla(201,90%,88%,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(203,68%,94%,1)), color-stop(50%,hsla(203,68%,84%,1)), color-stop(51%,hsla(202,68%,79%,1)), color-stop(100%,hsla(201,90%,88%,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, hsla(203,68%,94%,1) 0%,hsla(203,68%,84%,1) 50%,hsla(202,68%,79%,1) 51%,hsla(201,90%,88%,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, hsla(203,68%,94%,1) 0%,hsla(203,68%,84%,1) 50%,hsla(202,68%,79%,1) 51%,hsla(201,90%,88%,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, hsla(203,68%,94%,1) 0%,hsla(203,68%,84%,1) 50%,hsla(202,68%,79%,1) 51%,hsla(201,90%,88%,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, hsla(203,68%,94%,1) 0%,hsla(203,68%,84%,1) 50%,hsla(202,68%,79%,1) 51%,hsla(201,90%,88%,1) 100%); /* W3C */
	border: 1px darken($blue, 10%) solid;
	border-radius: 12px;
	font-size: 1.2rem; 
	float: right;
}
form input[type="submit"]:hover {
	background: $white;
	border: 1px $lt-gray solid; 
}
form#commentform {
	overflow: auto;
	border: $lt-gray 2px solid;
	background: lighten($med-gray, 10%);
	border-radius: 15px;
}
form#commentform p {
	font-weight: bold;
}
form#commentform input {
	display: inline-block;
	float: left;
	margin: 0.8rem 0;
	max-width: 350px;
	width: 80%;
}
form#commentform input[type="submit"] {
	width: inherit;
	float: right;
	font-size: 1.6rem;
	padding: 4px 10px;
	border-radius: 20px;
}
form#commentform label {
	display: inline;
	float: left;
	clear: both;
	padding-right: 2rem;
	min-width: 100px;
	font-weight: 300;
}
hr {
	margin: 3rem 0;
    padding: 0;
    border: none;
    border-top: medium double $charcoal;
    color: $charcoal;
    text-align: center;
}
hr:after {
    content: "\25C8";
    display: inline-block;
    position: relative; 
    top: -1.3rem;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: $background-color;
}
/*************************
**************************
***  Tables
**************************
*************************/
table {
	font-size: 1.5rem;
	max-width: 900px;
	width: 98%; 
	background: $white;
	margin: 1rem;
	box-shadow: 0 2px 6px $charcoal;
	color: $med-gray;
}
caption {
	line-height: 2;
	background: $white;
	font-size: 1.8rem;
	font-family: $heading-font;
}
table th {
	font-size: 2rem;
}
th, td {
	padding: 0 2%;
	line-height: 1.4;
}
thead, tfoot {
	background: rgba($charcoal, .30);
}
tbody tr:nth-child(even) {
	background: rgba($charcoal, .10);
}
tbody tr:hover {
	background: rgba($blue, .20);
}

/*************************
**************************
***  Anchors
**************************
*************************/
a {
  color: $link;
  text-decoration: none; 
}
a:hover, a:focus {
	color: $hover;
}
a:active {
	color: $active;
}
/* Custom Post & Social Media Icons */
a[rel~=icon], .icon {
	font-family: 'socialize';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	line-height: 1;
	color: darken($lt-gray, 5%);

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
article .column .icon {
	color: $aqua;
	font-size: 2rem;
	text-shadow: $text-shadow;
}
a[rel~=icon]:hover {
	color: $blue;
}
a[rel~=icon]:before {
	content: " ";
	display: block;
	font-size: 3.6rem;
	text-shadow: lighten($med-gray, 25%) 0px 1px 1px;
}
.icon-seed:before {
	content: "\e644";
}
.icon-home:before {
	content: "\e600";
}
.icon-newspaper:before {
	content: "\e601";
}
.icon-pencil:before {
	content: "\e602";
}
.icon-quill:before {
	content: "\e603";
}
.icon-images:before {
	content: "\e604";
}
.icon-camera:before {
	content: "\e605";
}
.icon-music:before {
	content: "\e606";
}
.icon-video:before {
	content: "\e607";
}
.icon-bullhorn:before {
	content: "\e608";
}
.icon-podcast:before {
	content: "\e609";
}
.icon-book:before {
	content: "\e60a";
}
.icon-profile:before {
	content: "\e60b";
}
.icon-folder-open:before {
	content: "\e60c";
}
.icon-tag:before {
	content: "\e64b";
}
.icon-pushpin:before {
	content: "\e60d";
}
.icon-clock:before {
	content: "\e60e";
}
.icon-screen:before {
	content: "\e60f";
}
.icon-bubbles:before {
	content: "\e610";
}
.icon-user:before {
	content: "\e611";
}
.icon-quotes:before {
	content: "\e612";
}
.icon-wrench:before {
	content: "\e613";
}
.icon-cog:before {
	content: "\e614";
}
.icon-stats:before {
	content: "\e615";
}
.icon-glass:before {
	content: "\e616";
}
.icon-mug:before {
	content: "\e617";
}
.icon-lab:before {
	content: "\e618";
}
.icon-powercord:before {
	content: "\e619";
}
.icon-link:before {
	content: "\e64c";
}
.icon-flag:before {
	content: "\e61a";
}
.icon-paperclip:before {
	content: "\e61b";
}
.icon-bookmarks:before {
	content: "\e61c";
}
.icon-star:before {
	content: "\e61d";
}
.icon-half-star:before {
	content: "\e61e";
}
.icon-full-star:before {
	content: "\e61f";
}
.icon-heart:before {
	content: "\e620";
}
.icon-heart-broken:before {
	content: "\e621";
}
.icon-thumbs-up:before {
	content: "\e622";
}
.icon-thumbs-down:before {
	content: "\e623";
}
.icon-happy:before {
	content: "\e624";
}
.icon-smiley:before {
	content: "\e625";
}
.icon-tongue:before {
	content: "\e626";
}
.icon-sad:before {
	content: "\e627";
}
.icon-wink:before {
	content: "\e628";
}
.icon-grin:before {
	content: "\e629";
}
.icon-cool:before {
	content: "\e62a";
}
.icon-angry:before {
	content: "\e62b";
}
.icon-evil:before {
	content: "\e62c";
}
.icon-shocked:before {
	content: "\e62d";
}
.icon-confused:before {
	content: "\e62e";
}
.icon-neutral:before {
	content: "\e62f";
}
.icon-wondering:before {
	content: "\e630";
}
.icon-mail:before {
	content: "\e631";
}
.icon-apple:before {
	content: "\e64a";
}
.icon-finder:before {
	content: "\e64d";
}
.icon-android:before {
	content: "\e64e";
}
.icon-windows:before {
	content: "\e64f";
}
.icon-libreoffice:before {
	content: "\e65e";
}
.icon-file-pdf:before {
	content: "\e65f";
}
.icon-file-openoffice:before {
	content: "\e660";
}
.icon-file-word:before {
	content: "\e661";
}
.icon-file-excel:before {
	content: "\e662";
}
.icon-file-zip:before {
	content: "\e663";
}
.icon-file-powerpoint:before {
	content: "\e664";
}
.icon-file-xml:before {
	content: "\e665";
}
.icon-file-css:before {
	content: "\e666";
}
.icon-chrome:before {
	content: "\e669";
}
.icon-firefox:before {
	content: "\e66a";
}
.icon-IE:before {
	content: "\e66b";
}
.icon-opera:before {
	content: "\e66c";
}
.icon-safari:before {
	content: "\e66d";
}
.icon-IcoMoon:before {
	content: "\e66e";
}
a[rel~=icon-email]:before, .icon-email:before {
	content: "\e632";
}
a[rel~=icon-googleplus]:before, .icon-googleplus:before {
	content: "\e633";
}
a[rel~=icon-google-drive]:before, .icon-google-drive:before {
	content: "\e634";
}
a[rel~=icon-facebook]:before, .icon-facebook:before {
	content: "\e635";
}
a[rel~=icon-instagram]:before, .icon-instagram:before {
	content: "\e636";
}
a[rel~=icon-twitter]:before, .icon-twitter:before {
	content: "\e637";
}
a[rel~=icon-rss]:before, .icon-rss:before {
	content: "\e638";
}
a[rel~=icon-youtube]:before, .icon-youtube:before {
	content: "\e639";
}
a[rel~=icon-vimeo]:before, .icon-vimeo:before {
	content: "\e63a";
}
a[rel~=icon-lanyrd]:before, .icon-lanyrd:before {
	content: "\e63b";
}
a[rel~=icon-flickr]:before, .icon-flickr:before {
	content: "\e63c";
}
a[rel~=icon-picassa]:before, .icon-picassa:before {
	content: "\e63d";
}
a[rel~=icon-dribbble]:before, .icon-dribbble:before {
	content: "\e63e";
}
a[rel~=icon-forrst]:before, .icon-forrst:before {
	content: "\e63f";
}
a[rel~=icon-deviantart]:before, .icon-deviantart:before {
	content: "\e640";
}
a[rel~=icon-steam]:before, .icon-steam:before {
	content: "\e641";
}
a[rel~=icon-github]:before, .icon-github:before {
	content: "\e642";
}
a[rel~=icon-wordpress]:before, .icon-wordpress:before {
	content: "\e643";
}
a[rel~=icon-joomla]:before, .icon-joomla:before {
	content: "\e645";
}
a[rel~=icon-blogger]:before, .icon-blogger:before {
	content: "\e646";
}
a[rel~=icon-tumblr]:before, .icon-tumblr:before {
	content: "\e647";
}
a[rel~=icon-yahoo]:before, .icon-yahoo:before {
	content: "\e648";
}
a[rel~=icon-tux]:before, .icon-tux:before {
	content: "\e649";
}
a[rel~=icon-soundcloud]:before, .icon-soundcloud:before {
	content: "\e650";
}
a[rel~=icon-skype]:before, .icon-skype:before {
	content: "\e651";
}
a[rel~=icon-reddit]:before, .icon-reddit:before {
	content: "\e652";
}
a[rel~=icon-linkedin]:before, .icon-linkedin:before {
	content: "\e653";
}
a[rel~=icon-lastfm]:before, .icon-lastfm:before {
	content: "\e654";
}
a[rel~=icon-delicious]:before, .icon-delicious:before {
	content: "\e655";
}
a[rel~=icon-stumbleupon]:before, .icon-stumbleupon:before {
	content: "\e656";
}
a[rel~=icon-stackoverflow]:before, .icon-stackoverflow:before {
	content: "\e657";
}
a[rel~=icon-pinterest]:before, .icon-pinterest:before {
	content: "\e658";
}
a[rel~=icon-xing]:before, .icon-xing:before {
	content: "\e659";
}
a[rel~=icon-flattr]:before, .icon-flattr:before {
	content: "\e65a";
}
a[rel~=icon-foursquare]:before, .icon-foursquare:before {
	content: "\e65b";
}
a[rel~=icon-paypal]:before, .icon-paypal:before {
	content: "\e65c";
}
a[rel~=icon-yelp]:before, .icon-yelp:before {
	content: "\e65d";
}
a[rel~=icon-html5]:before, .icon-html5:before {
	content: "\e667";
}
a[rel~=icon-css3]:before, .icon-css3:before {
	content: "\e668";
}
.hide-label a {
	width: 2.4em;
}
.hide-label span {
	position: absolute;
	left: -3000em;
}
/*****************
*
* Menus
*
*****************/
div.menu li, 
ul.horiz li {
	display: inline-block;
	margin: 0.4rem;
}
div.menu li a, 
ul.horiz li a, 
.header-sidebar ul.menu li a {
	display: block;
} 
.header-sidebar .widget {
	overflow: visible;
	margin-bottom: 4rem;
}
.header-sidebar ul.menu {
	background: $blue;
	margin-left: 0;
	box-shadow: 0px 1px 4px $charcoal;
}
.header-sidebar ul.menu li a,
.header-sidebar ul.menu li:hover li a {
	color: $white;
	font-weight: 300;
}
.header-sidebar ul.menu li:hover a {
	color: darken($green, 20%);
	font-weight: bold;
}
.header-sidebar ul.menu li {
	display: inline-block;
	position: relative;
	padding: 1rem;
	overflow: visible;
}
.header-sidebar ul.menu ul {
	display: none;
	position: absolute;
	z-index: 1000;
	margin-left: 0;
	padding-left: 0;
	top: 100%;
	left: 0;
}
.header-sidebar ul.menu li:hover {
	background: rgba($white, 0.80);
	transition: all 0.5s;
}
.header-sidebar ul.menu li:hover li:hover {
	background: rgba($green, 0.90);
	transition: all 0.5s;
}
.header-sidebar ul.menu li:hover li {
	background: rgba($charcoal, 0.80);
}
.header-sidebar ul.menu li:hover > ul {
	display: block;
}
.header-sidebar ul.menu li ul li {
	display: block;
	position: relative;
	width: 12rem;
}
.header-sidebar ul.menu li ul li:hover > ul {
	display: block;
	overflow: visible;
}
.header-sidebar li li.menu-item-has-children > a:after,
.header-sidebar li li.page_item_has_children > a:after {
	content: " > ";
}
/* Don't display child page menu on following pages */
.page-id-221 nav#submenu,
.page-id-217 nav#submenu {
	display: none;
}