//Variables

$green: #4FDC70;
$coral: #EA5755;
$yellow: #DDD83D;
$blue: #50A9DD;
$purple: #994CF4;
$aqua: #48BCB0;
$white: #fbfbf9;
$lt-gray: #b2b2b2;
$med-gray: #4d4d4d;
$charcoal: #2B2B2B;

$background-color: $med-gray;
$body-font: "Quicksand", sans-serif;
$body-color: $lt-gray;
$heading-font: "Megalopolis", "Arial Black", "Arial Bold", Gadget, sans-serif;
$heading-color: $charcoal;
$link: $blue;
$hover: $aqua;
$active: $white;
$serif-font: "Acknowledgement", "Rockwell Extra Bold", "Rockwell Bold", serif;
$italic-font: "Calligraffitti", script;
$monospace-font: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$text-shadow: lighten($charcoal, 25%) 0px 1px 2px;

$margin: 1rem;
$pad: 20px;

/*****************
*
* Wordpress Generated Classes
*
*****************/
.alignnone {
    margin: 0 0.6rem;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 0 auto 0.4rem;
}
.alignright {
    float:right;
    margin: 0 0 0.4rem 0.6rem;
}
.alignleft {
    float: left;
    margin: 0 0.6rem 0.4rem 0;
}
.aligncenter {
    display: block;
    margin: 0 auto 0.4rem;
}
a img.alignright {
    float: right;
    margin: 0 0 0.4rem 0.6rem;
}
a img.alignnone {
    margin: 0 0.6rem 0.4rem;
}
a img.alignleft {
    float: left;
    margin: 0 0.6rem 0.4rem 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: $white;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
	border-radius: 4px;
}
.wp-caption.alignnone {
    margin: 0 0.6rem 0.4rem;
}
.wp-caption.alignleft {
    margin: 0 0.6rem 0.4rem 0;
}
.wp-caption.alignright {
    margin: 0 0 0.4rem 0.6rem;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 1.3rem;
    line-height: 1.7;
    margin: 0;
    padding: 0 4px 3px;
}
#wp-calendar {
	width: 95%;
	max-width: 30rem;
}
#pagination { 
	padding: 12px 0; 
	margin: 0 0 40px 0;  
	text-align: center; 
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: $med-gray;
}
#pagination .current {
	font-weight: bold;
}
#pagination ul { 
	display: inline-block;  
}
#pagination li { 
	display: inline-block; 
	text-shadow: 1px 1px 1px $lt-gray; 
	list-style-type: none;  
	border: 1px solid #d8dadb; 
	background: $white; 
	line-height: 25px; 
	width: 30px; 
	padding-top: 2px;  
	text-align: center; 
	margin: 0 10px 0 0; 
	-moz-box-shadow: 1px 1px 1px #888; 
	-webkit-box-shadow: 1px 1px 1px #888; 
	box-shadow: 1px 1px 1px #888; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#fafafa)); 
	background: -webkit-linear-gradient(top, #ffffff, #fafafa); 
	background: -moz-linear-gradient(top, #ffffff, #fafafa); 
	background: -ms-linear-gradient(top, #ffffff, #fafafa); 
	background: -o-linear-gradient(top, #ffffff, #fafafa); 
}
#pagination li.active,#pagination li:hover, #pagi a:hover { 
	color: $white; 
	border: 1px solid $med-gray; 
	background: $med-gray; 
	-moz-box-shadow: inset 0px 0px 3px #555; 
	-webkit-box-shadow: inset 0px 0px 3px #555; 
	box-shadow: inset 0px 0px 3px #555; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#626262), to(#676767)); 
	background: -webkit-linear-gradient(top, #626262, #676767); 
	background: -moz-linear-gradient(top, #626262, #676767); 
	background: -ms-linear-gradient(top, #626262, #676767); 
	background: -o-linear-gradient(top, #626262, #676767); 
}
#pagination li a {  
	color: $blue; 
	text-shadow: 1px 1px 1px $white; 
	display: block;
}
#pagination li a:hover, #pagination li:hover a, #pagination li.active a { 
	color: $white; 
	text-shadow: 1px 1px 1px $med-gray; 
}
#pagi { 
	width: 100%; 
	text-align: center; 
	margin: 2em 0 0 0; 
}
#pagi ul { 
	display: inline-block; 
}
#pagi ul li { 
	display: inline-block; 
	list-style-type: none;  
}
#pagi ul li a { 
	display: block; 
	list-style-type: none; 
	background: #eee; 
	border: 1px solid #ccc; 
	padding: .2em .6em; 
	text-transform: uppercase; 
	color: #7a7a7a; 
	width: 8em; 
	margin: 0 1.5em; 
}
#pagi ul span.previous a:before {
	content: "\00AB";
	padding-right: 4px;
	position: relative;
	top: -2px;
}

#pagi ul span.next a:after {
	content: "\00BB";
	padding-left: 4px;
	position: relative;
	top: -2px;
}
.bypostauthor b.fn {
	color: $green;
}
.bypostauthor b.fn:after {
	content: "\2003" + "(post author)";
}
.sticky .date-meta.post-icon a, .sticky .date-meta.post-icon a .icon {
	color: $yellow;
}
.sticky .date-meta.post-icon a:hover, .sticky .date-meta.post-icon a:hover .icon {
	color: $green;
}

/*************************
**************************
***  Gallery 
**************************
*************************/

.gallery {
	overflow: hidden;
}
.gallery-item {
	margin: 1rem;
	float: left;
}
.gallery-caption {
	max-width: 150px;
	max-height: 8rem;
	overflow: hidden;
}
.gallery-columns-1 .gallery-item {
	clear: both;
}
.gallery-columns-2 .gallery-item:nth-of-type(odd),
.column.half .gallery .gallery-item:nth-of-type(odd),
.column.two-thirds .gallery .gallery-item:nth-of-type(odd) {
	clear: left;
}
.gallery-columns-2 .gallery-item:nth-of-type(even),
.column.half .gallery .gallery-item:nth-of-type(even),
.column.two-thirds .gallery .gallery-item:nth-of-type(even) {
	clear: none;
}
.gallery-columns-3 .gallery-item:nth-of-type(3n+1) {
	clear: left;
}
.gallery-columns-4 .gallery-item {
	width: 120px;
	margin: 1rem .8rem;
}
.gallery-columns-4 .gallery-item .gallery-icon img {
	max-height: 120px;
}
.gallery-columns-4 .gallery-item:nth-of-type(4n+1) {
	clear: left;
}
.gallery-columns-5 .gallery-item {
	width: 95px;
	margin: 1rem .8rem;
}
.gallery-columns-5 .gallery-item .gallery-icon img {
	max-height: 95px;
}
.gallery-columns-5 .gallery-item:nth-of-type(5n+1) {
	clear: left;
}
.gallery-columns-6 .gallery-item {
	width: 80px;
	margin: 1rem .6rem;
}
.gallery-columns-6 .gallery-item .gallery-icon img {
	max-height: 80px;
}
.gallery-columns-6 .gallery-item:nth-of-type(6n+1) {
	clear: left;
}
.gallery-columns-7 .gallery-item {
	width: 72px;
	margin: 1rem .3rem;
}
.gallery-columns-7 .gallery-item .gallery-icon img {
	max-height: 72px;
}
.gallery-columns-7 .gallery-item:nth-of-type(7n+1) {
	clear: left;
}
.gallery-columns-8 .gallery-item {
	width: 68px;
	margin: 0;
}
.gallery-columns-8 .gallery-item figcaption {
	display: none;
}
.gallery-columns-8 .gallery-item a {
	float:left;
	max-height: 68px;
}
.gallery-columns-8 .gallery-item .gallery-icon img {
	max-height: 68px;
}
.gallery-columns-8 .gallery-item:nth-of-type(8n+1) {
	clear: left;
}
.gallery-columns-9 .gallery-item {
	width: 60px;
	margin: 0;
}
.gallery-columns-9 .gallery-item figcaption {
	display: none;
}
.gallery-columns-9 .gallery-item a {
	float:left;
	max-height: 60px;
}
.gallery-columns-9 .gallery-item .gallery-icon img {
	max-height: 60px;
}
.gallery-columns-9 .gallery-item:nth-of-type(9n+1) {
	clear: left;
}
.gallery {
	margin: auto;
	overflow: auto;
}
.gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
}
.gallery-item img {
	border: 2px solid #cfcfcf;
}
.gallery-caption {
	margin-left: 0;
	line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery-size-thumbnail .gallery-caption {
	max-width: 260px;
	margin: 0 auto;
}
/* One Column */
.gallery-columns-1 .gallery-item {
	width: 100%;
	clear: both;
}

/* Two Column */
.gallery-columns-2 .gallery-item {
	width: 50%;
	&:nth-of-type(2n+1) {
		clear: both;
	}
}

/* Three Column */
.gallery-columns-3 .gallery-item {
	width: 33%;
	&:nth-of-type(3n+1) {
		clear: both;
	}
}

/* Four Column */
.gallery-columns-4 .gallery-item {
	width: 25%;
	&:nth-of-type(4n+1) {
		clear: both;
	}
}

/* Five Column */
.gallery-columns-5 .gallery-item {
	width: 20%;
	&:nth-of-type(5n+1) {
		clear: both;
	}
}

/* Six Column */
.gallery-columns-6 .gallery-item {
	width: 16%;
	&:nth-of-type(6n+1) {
		clear: both;
	}
	img {
		max-width: 120px;
		height: auto;
	}
}

/* Seven Column */
.gallery-columns-7 .gallery-item {
	width: 14%;
	&:nth-of-type(7n+1) {
		clear: both;
	}
	img {
		max-width: 110px;
		height: auto;
	}
}

/* Eight Column */
.gallery-columns-8 .gallery-item {
	width: 12.5%;
	&:nth-of-type(8n+1) {
		clear: both;
	}
	img {
		max-width: 100px;
		height: auto;
	}
}

/* Nine Column */
.gallery-columns-9 .gallery-item {
	width: 11%;
	&:nth-of-type(9n+1) {
		clear: both;
	}
	img {
		max-width: 90px;
		height: auto;
	}
}

/*************************
**************************
***  Comments 
**************************
*************************/

article.comment-body {
	border-top: transparent;
	margin: 1rem 0;
}
ol.commentlist, ol.commentlist ul.children {
	list-style: none;
	margin-left: 1rem;
}
ol.commentlist li.comment {
	margin: 1rem 0;
	border-bottom: 3px double $charcoal;
	padding: 0.5rem 1.2rem;
}
ol.commentlist li.parent {
	border-left: 3px darken($aqua, 10%) solid;
	border-bottom: transparent;
}
ol.commentlist ul li.comment {
	background: rgba($white, 0.1);
	border-bottom: transparent;
}
.avatar {
	float: left;
	margin: 0 8px 0 0;
}
.comment-content {
	margin: 1rem 0;
}

/*************************
**************************
***  Post Formats 
**************************
*************************/
.tiled-gallery {
    margin: 0 auto 20px !important; 
    width: 100%;
    max-width: 800px;
}
.format-image img {
	width: 100%;
	height: auto;
}
.format-aside header,
.format-aside footer,
.format-aside~div.post-widgets,
.format-status header,
.format-status footer,
.format-status~div.post-widgets,
.format-link header,
.format-link footer,
.format-link~div.post-widgets,
.format-quote footer,
.format-quote~div.post-widgets {
	display: none;
}
.format-aside .meta,
.format-status .meta,
.format-link .meta {
	font-size: 1.5rem;
}
.format-chat p {
	font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace;
	margin: $margin*2 0;
}